.container{
    width: 300px;
    margin: 20px auto;
    border: 1px solid black;
    background-color: aquamarine;
}
.input{
    margin: 8px;
}
img{
    margin: 10px 0px;
}
button{
    padding: 8px 16px;
    background-color: green;
    color: white;
}